.headerTop{
    height: 45px;
    background: rgba($color: $blackColor, $alpha: 0.2);
    .top-icn{
        color: rgba($color: $blackColor, $alpha: 0.7);
        transition: 0.5s ease-in-out;
        &:hover{
            color: $primaryColor;
        }
    }
    &::after{
        @include afterSkew(34.5px, 10px, 50%);
    }
}
.headerMain{
    background: $darkBlueColor;
    .logo img{
        width: 150px;
    }
    .logoContent{
        color: $whiteColor;
    }
}
.headerNav{
    background: $darkBlueColor;
      .navbar{
        button{
            font-size: 30px;
        }
        .nav-item  .active{
            color: $primaryColor;
        }
        .navbar-brand img{
            width: 120px;
        }
        .nav-link{
            @include textStyle($whiteColor, bold);
            &:hover{
                color: $primaryColor;
            }
            &:hover:after{
                width: 100%;
            }
            &::after{
                @include after();
            }
        }
    }
    @media (min-width: 992px){
        padding: 10px 0;
        background: rgba($color: $blackColor, $alpha: 0.8);
        height: 62px;
        &::after{
            @include afterSkew(62px, 128px, 15%);
        }
        .navbar{
            padding-left: 9% !important;
        }
    }
}
#navbarNav{
    background: rgba($color: $blackColor, $alpha: 0.7);
    backdrop-filter: blur(4px);
    border-color: $primaryColor !important;
    .nav-item  .active{
        color: $primaryColor;
    }
    .nav-link{
        @include textStyle($whiteColor, bold);
        &:hover{
            color: $primaryColor;
        }
    }
    .logoContent{
        @include textStyle($whiteColor, normal);
    }
    .top-icn{
        color: $whiteColor;
        transition: 0.5s ease-in-out;
        &:hover{
            color: $primaryColor;
        }
    }
}